In [8]:
len('hello')

5

In [9]:
len('I am')

4

In [10]:
my_string = "Hello World"

In [11]:
my_string

'Hello World'

In [12]:
my_string[0]

'H'

In [13]:
my_string[-1]

'd'

In [14]:
my_string[8]

'r'

In [15]:
my_string[-2]

'l'

In [16]:
my_string[9]

'l'

In [17]:
my_string

'Hello World'

In [18]:
my_string = 'abcdefghijk'

In [19]:
my_string

'abcdefghijk'

In [20]:
my_string[2:-1]

'cdefghij'

In [21]:
my_string[2:]

'cdefghijk'

In [22]:
my_string[:4]

'abcd'

In [23]:
my_string[3:6]

'def'

In [24]:
my_string[1:3]

'bc'

In [26]:
my_string[::]

'abcdefghijk'

In [27]:
my_string[::2]

'acegik'

In [28]:
my_string[::4]

'aei'

In [29]:
my_string[::-1]

'kjihgfedcba'

In [30]:
name = "Sam"

In [32]:
last_letters = name[1:]

In [33]:
last_letters

'am'

In [34]:
'P' + last_letters

'Pam'

In [35]:
x = "Hello World"

In [40]:
x = x + " it is beautiful outside !"

In [41]:
x

'Hello World it is beautiful outside ! it is beautiful outside ! it is beautiful outside !'

In [42]:
letter = "r"

In [43]:
letter * 10

'rrrrrrrrrr'

In [44]:
x = "Hello World"

In [45]:
x.index

In [46]:
x.upper()

'HELLO WORLD'

In [47]:
x = x.upper()

In [48]:
x

'HELLO WORLD'

In [50]:
x = x.lower()

In [51]:
x.split()

['hello', 'world']

In [52]:
x = "hi this is a string"

In [53]:
x.split()

['hi', 'this', 'is', 'a', 'string']

In [54]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [55]:
print("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [56]:
print("The {} {} {}".format('fix', 'brown', 'quick'))

The fix brown quick

In [58]:
print("The {2} {1} {0}".format('fox', 'brown', 'quick'))

The quick brown fox

In [59]:
print("The {q} {b} {f}".format(f='fox', b='brown', q='quick'))

The quick brown fox

In [60]:
result = 100 / 777

In [61]:
result

0.1287001287001287

In [62]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [63]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [64]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [65]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [66]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [67]:
name = "Jose"

In [69]:
print(f"Hello, his name is {name}")

Hello, his name is Jose

In [70]:
name = "Sam"
age = 3

In [71]:
print(f"{name} is {age} years old")

Sam is 3 years old

In [73]:
print("{p} {r}".format(p="Phyhon", r="rules!"))

Phyhon rules!

In [74]:
my_list = [1,2,3]

In [75]:
my_list

[1, 2, 3]

In [76]:
my_list = ['string', 1, 2, 3]

In [79]:
len(my_list)

4

In [81]:
my_list[-1]

3

In [82]:
my_list[1:]

[1, 2, 3]

In [83]:
another_list = [6,7,8]

In [84]:
my_list + another_list

['string', 1, 2, 3, 6, 7, 8]

In [85]:
my_new_list = my_list + another_list

In [86]:
my_new_list

['string', 1, 2, 3, 6, 7, 8]

In [87]:
my_new_list[0] = 'STRING IN UPPER CASE'

In [88]:
my_new_list

['STRING IN UPPER CASE', 1, 2, 3, 6, 7, 8]

In [89]:
my_new_list.append('six')

In [90]:
my_new_list

['STRING IN UPPER CASE', 1, 2, 3, 6, 7, 8, 'six']

In [92]:
print(f"Elementos de la lista {my_new_list}")

Elementos de la lista ['STRING IN UPPER CASE', 1, 2, 3, 6, 7, 8, 'six']

In [93]:
my_new_list.pop()

'six'

In [94]:
my_new_list

['STRING IN UPPER CASE', 1, 2, 3, 6, 7, 8]

In [95]:
my_new_list.append(8.897)

In [96]:
my_new_list

['STRING IN UPPER CASE', 1, 2, 3, 6, 7, 8, 8.897]

In [97]:
my_popped_item = my_new_list.pop()

In [98]:
my_popped_item

8.897

In [99]:
type(my_popped_item)

float

In [100]:
my_new_list.pop(0)

'STRING IN UPPER CASE'

In [101]:
my_new_list

[1, 2, 3, 6, 7, 8]

In [102]:
my_new_list.sort()

In [103]:
my_new_list

[1, 2, 3, 6, 7, 8]

In [104]:
my_new_list.reverse()

In [105]:
my_new_list

[8, 7, 6, 3, 2, 1]

In [106]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [107]:
my_dict['key1']

'value1'

In [108]:
print(f"My dictionary elements {my_dict}")

My dictionary elements {'key1': 'value1', 'key2': 'value2'}

In [109]:
d = {'key':123, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [110]:
d['k2']

[0, 1, 2]

In [111]:
d['k3']

{'insidekey': 100}

In [112]:
d['k3'] ['insidekey']

100

In [115]:
d['k2'][-1]

2

In [116]:
d['k2'][2]

2

In [118]:
d = {'key':123, 'k2':['a','b','c'], 'k3':{'insidekey':100}}

In [119]:
d['k2'][-1].upper()

'C'

In [120]:
d.keys()

dict_keys(['key', 'k2', 'k3'])

In [121]:
d['k4'] = 3.5678

In [122]:
d

{'key': 123, 'k2': ['a', 'b', 'c'], 'k3': {'insidekey': 100}, 'k4': 3.5678}

In [123]:
d['k4'] = 'new value'

In [124]:
d

{'key': 123,
 'k2': ['a', 'b', 'c'],
 'k3': {'insidekey': 100},
 'k4': 'new value'}

In [125]:
d.values()

dict_values([123, ['a', 'b', 'c'], {'insidekey': 100}, 'new value'])

In [126]:
d.items()

dict_items([('key', 123), ('k2', ['a', 'b', 'c']), ('k3', {'insidekey': 100}), ('k4', 'new value')])

In [127]:
t = (1,2,3)

In [128]:
my_list = [1,2,3]

In [129]:
type(t)

tuple

In [130]:
type(my_list)

list

In [131]:
t = ('1',2,'three')

In [132]:
t

('1', 2, 'three')

In [133]:
t.count('1')

1

In [134]:
t.index(2)

1

In [135]:
my_set = set()

In [136]:
my_set.add(1)

In [138]:
my_set

{1}

In [139]:
my_set.add(1)

In [140]:
my_set

{1}

In [141]:
my_list = [1,1,1,1,2,2,2,2,3,3,4,5,5,6]

In [142]:
set(my_list)

{1, 2, 3, 4, 5, 6}

In [143]:
my_set = set(my_list)

In [144]:
my_set

{1, 2, 3, 4, 5, 6}

In [145]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [146]:
False

False

In [148]:
True

True

In [149]:
type(False)

bool

In [150]:
1 > 2

False

In [151]:
1 == 1

True

In [152]:
b = None

In [153]:
type(b)

NoneType

In [155]:
b

In [ ]:
my_set.

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"